.header{
    position: relative;
    height: 64px;
    width: 100%;
    top: 0px;
    margin: auto;
    background: linear-gradient(to right, #B19AD1, #C5ABE1);
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.navbar img{
    height: 32px;
    width: 32px;
    align-self: center;
    align-content: center;
    vertical-align: center;
}
.navbar-circle{
    justify-content: center;
    align-items: center;
    align-self: center;
    box-shadow: 10px,10px,10px,black;
    border-width: 1px;
    border-color: transparent;
    border-radius:50%;
    background-color: #987cc0;
    padding: 6px;
    margin-top:6px;
}

body{
    background-color: #181a1a;
    font-family: 'poppins';
    font-weight: 400;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

}

.container{
    background-color: #1e2022;
    display:flex;
    align-self: center;    
    flex-direction: column;    
    border-radius: 24px;
    align-items: center;
    align-content: center;
    vertical-align: flex-start;
}

.container.izq{
    margin-left: 2rem;
    display:flex;
    flex-direction: column;
    height:40rem;
    width: 20rem;
    margin-bottom: 20rem;
}

.container.izq img{
    border: 6px solid #987cc0;
    border-radius: 50%;
}


.container.centro{
    margin: 0 10rem 0 10rem;
    height:60rem;
    width: 50rem

}

.container.der{
    height:100%;
    width: 80%;
    margin-bottom: 10%;
}
.container.der2{
    height:100%;
    width: 80%
}

.seccion{
    margin-top:4em;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-basis: calc(45%-1rem);
}

.seccion.sec3{
    flex-direction: column;
}
#margen{
    margin-bottom:74%;
}

.container img{
    width: 10rem;
    height:auto;
}
h1{
    font-size: 1.5rem;
    color: #C5ABE1;
    background-color: #181a1a;
    border-radius: 1rem;
    padding: 1rem;
}
h2,h3,h4{    
    color: #C5ABE1;
    background-color: #181a1a;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    justify-content: center;
}
.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:1rem
}

p{
    color: #A1998D;
    text-align: justify;
    padding: 1rem;
    background-color: #181a1a;
    margin:1.5rem;
    border-radius: 1rem;
}

.card{
    box-sizing: content-box;
    width: 24rem;
    height: 12rem;
    padding: 2rem;
    background-color: #f2b0fc;
    border-radius:1rem;
    margin:1.2rem;
}

.card p{
    text-align: center;
    font-size: 1.6rem;
    color: #181a1a;
    background-color: transparent;
    margin:1rem;
}

.formulario{
    margin: 1.2rem;    
    justify-content: center;
}
.formulario label{
    margin: 1rem;
    display:block;
    width: 100%;

}
.formulario input{
    
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
    outline: none;
}